<h1>Show Humidity</h1>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @humidity.date %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @humidity.value %>
  </li>

  <li>
    <strong>DeviceCode:</strong>
    <%= @humidity.device_code %>
  </li>

  <li>
    <strong>SensorCode:</strong>
    <%= @humidity.sensor_code %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.humidity_path(@conn, :edit, @humidity) %></span>
<span><%= link "Back", to: Routes.humidity_path(@conn, :index) %></span>
