<h1>Edit Illuminance</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.illuminance_path(@conn, :update, @illuminance)) %>

<span><%= link "Back", to: Routes.illuminance_path(@conn, :index) %></span>
