<h1>New Atmospheric pressure</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.atmospheric_pressure_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.atmospheric_pressure_path(@conn, :index) %></span>
