<h1>Edit Device type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.device_type_path(@conn, :update, @device_type)) %>

<span><%= link "Back", to: Routes.device_type_path(@conn, :index) %></span>
